.waku{
  width: 100vw;
  height: 90vh;
}

.flex{
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 30px 100px;
}

.title{
  background-color: white;
  color: darkblue;
  font-size: 30px;
  font-weight: bold;
}

.home{
background-color: white;
color: darkblue;
font-size: 15px;
font-weight: bold;
}

.relative{
  position: relative;
  margin: 0 100px 0 0;
}

.blue-box{
  display: block;
  width: 70vw;
  height: 200px;
  left: 100px;
  bottom: -400px;
  background-color: darkblue;
}

.absolute_img{
  position: absolute;
  width: 60%;
  height: 400px;
  top: -150%;
  right: -25%;
}

.moji{
  position: absolute;
  font-size: 50px;
  color: black;
  top: -50px;
}